@import "../commonStyles/constants.scss";
@import "../Button/Button.scss";

h1 {
  @include text(heading);
}

h2 {
  @include text(subheading);
}

p {
  @include text(paragraph);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include margin(10);
}

.coverImageContainer {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.coverImage {
  width: auto;
  height: 75vh;
  margin-bottom: 25px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.thumbnails img {
  width: 21%;
}

.buttonContainer {
  display: flex;
  gap: 15px;
}

.datePicker {
  padding: 5px 5px 25px 5px;
}

.border {
  border: 6px solid #d21312;
}
