body {
  line-height: 1.6;
  margin: 20px;
  background-color: #333;
  color: whitesmoke;
}

h1 {
  text-align: center;
  color: whitesmoke;
  margin: 30px 0px;
  font-size: 50px;
}
.women-space-page {
}
