@import "@fontsource/titillium-web";

$desktopMinWidth: 992px;
$tabletMinWidth: 600px;

@mixin padding($size: 1) {
  padding: calc($size * 4px);
}

@mixin margin($size: 1) {
  margin: calc($size * 4px);
}

@mixin text($textSize) {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: map-get(
    (
      paragraph: 14px,
      heading: 24px,
      subheading: 20px,
      title: 48px,
    ),
    $textSize
  );
}

@mixin text-stylised() {
  font-family: "Titillium Web", sans-serif;
}

@mixin tablet {
  @media (min-width: $tabletMinWidth) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktopMinWidth) {
    @content;
  }
}

.gutter {
  position: relative;
  padding: 0px 4px;

  @include tablet {
    padding: 0px 12px;
  }

  @include desktop {
    padding: 0px 36px;
  }
}

.layout {
  position: relative;
}
