@import "../../commonStyles/constants.scss";

.three-column-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 100%;

  @include desktop {
    flex-direction: row;
    gap: 0;
  }
}

.column-section {
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}

.column-section-1 {
  background-image: url("../../../assets/spiral-galaxy.jpg");
  background-position: left;
  flex: 0 0 27.5%;
}

.column-section-2 {
  background-image: url("../../../assets/mars-rover.webp");
  background-position: right;
  flex: 0 0 40%;
}

.column-section-3 {
  background-image: url("../../../assets/galaxy.jpg");
  background-position: left;
  order: 3;
  flex: 0 0 27.5%;
}
