@import "../../commonStyles/constants.scss";

.three-column-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("../../../assets/backgroundimage1.jpeg");
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include tablet {
    flex-direction: row;
  }
}

.column-section {
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  @include tablet {
    width: 30%;
  }
}

.section-1 {
  background-image: url("../../../assets/backgroundimage2.jpeg");
  order: 2;

  @include tablet {
    order: 1;
  }
}

.section-2 {
  background-image: url("../../../assets/backgroundimage2.jpeg");
  order: 1;

  @include tablet {
    order: 2;
  }
}

.section-3 {
  background-image: url("../../../assets/backgroundimage2.jpeg");
  order: 3;
}
