@import "../../commonStyles/constants.scss";

.three-column-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // background-image: url("../../../assets/backgroundimage1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  gap: 50px;

  @include desktop {
    flex-direction: row;
    gap: 0;
  }
}

.column-section {
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop {
    width: 30%;
  }
}

.section-1 {
  background-image: url("../../../assets/backgroundimage2.jpeg");
  order: 2;

  @include desktop {
    order: 1;
  }
}

.section-2 {
  background-image: url("../../../assets/backgroundimage2.jpeg");
  order: 1;

  @include desktop {
    order: 2;
  }
}

.section-3 {
  background-image: url("../../../assets/backgroundimage2.jpeg");
  order: 3;
}
