@import "../commonStyles/constants.scss";

.apod {
  position: relative;
  display: flex;
}

.image_wrapper img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @include padding;
  @include margin;
  @include text("heading");
  top: 0;
  font-family: cursive;
}

.explanation {
  @include padding(2);
  @include text("paragraph");
  flex-direction: column;
  justify-content: center;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(8px) brightness(80%);
  z-index: 2;
}

.image_wrapper:hover .explanation {
  transform: scale(1);
}

.explanation .text-container {
  @include margin(10);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #c4d46f; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@media screen and (min-width: $tabletMinWidth) {
}
