@import "../commonStyles/constants.scss";

$fontBold: 600;

.fun-fact-heading {
  @include text("title");
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  @include margin;

  .fact-container {
    background-color: #151820;
    @include text("paragraph");
    @include padding;

    img {
      width: 100%;
    }

    .content {
      @include margin;
      text-align: left;
      color: whitesmoke;
    }

    .title {
      font-weight: $fontBold;
      @include text("heading");
      margin-left: 1rem;
    }
    .text-container {
      @include margin;
      text-align: left;
      .username {
        @include text("paragraph");
      }
    }

    .stats {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.cate-container {
  display: flex;
  flex-direction: row;
}
